* {
  padding: 0;
  margin: 0;
   font-family: "Inter", sans-serif;
}

.container-nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:90%;
    margin:auto;
    
}
.container{
    max-width:1200px;
    margin:auto;

}
header{
    padding: 30px 0;
    
}

.nav-link{
    display: flex;
    list-style: none;
    gap: 20px;
    cursor:pointer;
    
}
.nav-link a{
    text-decoration: none;
    color: #575757;
}
.btn{
    background-color:#1D4ED8;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight:600;
    font-size: 15px;
    color: white;
    border: none;
    cursor: pointer;
}


.hero{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/banner.jpg');
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    justify-content: center;
    align-items: center;
}
.overlay{
    text-align: center;
    color: white;
}

.overlay h1{
    font-size: 60px;
    margin-bottom: 20px;
}

.overlay p{
    width: 700px;
    margin: 0 auto 40px;
    font-size: 20px;
    line-height: 1.5;
}
 

.overlay button{
    width: 30%;
    margin-top: 250px;
    padding: 10px ;
    background-color:#1D4ED8;
    color: white;
    font-size: 20px ;
    border-radius: 18px;
    margin-top: 250px;
} 
.card-container{
    text-align: center;
    margin: 25px auto 25px;
}
.card-container h2{
    font-size: 48px;
    
}
.card-abbu{
    margin-top:40px ;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
}
.card img{
    width: 100%;
    /* display: block; */
}
.card{
    text-align: left;
    border:1px solid #E5E7EB;
    border-radius: 10px ;
    overflow: hidden;
}

.card p,
.card h2{
    padding: 0 25px;
    
}

.card > p:first-of-type{
    color: #1D4ED8;
    font-size: 12px;
    font-weight: 700;
    margin-top: 20px;
}

.card h2{
    font-size: 28px;
    margin: 10px 0;
}

.card > p:last-of-type{
    color: #575775;
    font-size: 15px;
    margin-bottom: 20px;
}
.container1{
    max-width:1000px;
    margin:auto;
}
.price-container{
    text-align: center;
    margin: 25px auto 25px;
    columns: #0D1B2A;
}
.price-container>h2{
    font-size: 48px;
    margin-top: 100px;
}
.price-container>p{
    font-size: 16px;
    line-height: 2;
}
.price-card p{
    margin-bottom: 30px;
    
}

.price-abbu{
    margin-top:40px ;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}
.price-card{
    border:1px solid #e5e7eb;
    border-radius:12px;
    padding:25px;
    text-align:left;
    background:#fff;
    
}
.price-card>ul {
    margin-top: 30px;
    line-height: 2;

}
.price-button hr{
    border: 1px solid #FFFFFF;
}
.price-card hr{
    border: 1px solid #CECECE;
}

.price-button{
    background-color: #0D1B2A;
    color: #FFFFFF;
}
 .price-card button{
    width:100%;
    padding:12px;
    border-radius:8px;
    border:1px solid #2563EB;
    background:#fff;
    color:#2563eb;
    font-weight:600;
    cursor:pointer;
    margin-top: 20px;
} 
.price-button button{
    background:#2563eb;
    color:#fff;
    border:none;
}
.price-card li::marker{
    color:#2563eb;
}
.contact-btn button{
    border:1px solid #333333;
    color:#0D1B2A;
}
.faq{
    background-color: #0f172a;
}

.faq>h4{
    line-height:1.5;
    text-align:center;
    color:#2563eb;
    margin: 100px auto 5px;
    font-size: 40px;
}



.faq>h2{
    text-align:center;
    font-size:50px;
    margin-bottom:15px;
    color:white;
}



.faq>p{
    text-align:center;
    color:#cbd5e1;
    margin-bottom:40px;
    font-size:18px;
}



.faq-box{
    width: 85%;
    border:1px solid #ddd;
    border-radius:10px;
   margin:20px auto;
    background:#fff;
}



.faq-question{
    padding:20px;
    font-size:22px;
    font-weight:bold;
    cursor:pointer;
    list-style:none;
    position:relative;
}



.faq-question::after{
    content:"+";
    position:absolute;
    right:20px;
    top:15px;
    font-size:35px;
    color:#2563eb;
}



.faq-box[open] .faq-question::after{
    content:"−";
}



.faq-answer{
    padding:0 20px 20px;
    color:#555;
    line-height:1.6;
}
